*.o
*.lo
*.la
*.a
*.so
*.bak
*.gladep
.deps/
.libs/
autom4te.cache/
config.log
config.status
config.h
stamp-h1
stamp-h.in
aclocal.m4
compile
depcomp
install-sh
missing
agents.txt
parking.txt
rechpark.txt
rechresv.txt
reservation.txt
res.txt
